### Creación de llamadas

In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pickle

In [4]:
'''para cargar el modelo entrenado'''
with open('modelos_entrenados/modelo_final_RFR.pkl', 'rb') as file:
    modelo_RFR = pickle.load(file)

Ejemplo de llamada al modelo

In [47]:
dicc_miraflores = {'size':60,'codigo_distrito':48,'parking':0,'codigo_tipo':2 ,'total_rooms':3}
dicc_centro = {'size':150,'codigo_distrito':69,'parking':1,'codigo_tipo':7 ,'total_rooms':6}

In [48]:
centro = pd.DataFrame(data=dicc_centro, index=[0])
miraflores = pd.DataFrame(data=dicc_miraflores, index=[0])

In [49]:
prediction_centro = modelo_RFR.predict(centro)
print(prediction_centro)

[1827.11239885]

In [50]:
prediction_miraflores = modelo_RFR.predict(miraflores)
prediction_miraflores

array([723.90801152])

In [9]:
df = pd.read_csv('data/df.csv')
df_num = pd.read_csv('data/df_num.csv')

In [10]:
df

,propertyCode,price,propertyType,size,rooms,bathrooms,latitude,longitude,description,status,priceByArea,parking,codigo_distrito,poblacion / distrito,precio_area / distrito,codigo_tipo
0,101934757,590.0,flat,66.0,2,1,37.284635,-5.925679,"Hola soy Maite, ALQUILAMOS apartamento céntric...",good,9.0,0,25,Dos Hermanas / El Arenal - La Pólvora,8.200000,2
1,103193364,800.0,flat,85.0,3,1,37.388130,-5.963097,Espléndido piso de 85 m² situado en Nervión. J...,good,9.0,0,70,Sevilla / Nervión,13.694444,2
2,103192622,650.0,flat,41.0,1,1,37.396532,-5.976552,¡No pierdas la oportunidad de vivir en este ac...,good,16.0,0,48,Sevilla / Santa Justa - Miraflores - Cruz Roja,9.947368,2
3,99228868,650.0,flat,40.0,1,1,37.377477,-5.961966,Estupendo apartamento totalmente reformado y a...,good,16.0,0,70,Sevilla / Nervión,13.694444,2
4,103188131,1000.0,chalet,256.0,3,3,37.349163,-5.935799,"Casa de alquiler en Condequinto, de dos planta...",good,4.0,0,17,Montequinto / Condequinto,7.666667,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
986,102103782,500.0,flat,84.0,3,2,37.175795,-5.786509,"1. Piso → Piso en Utrera zona El Tinte, 84 m. ...",good,6.0,1,6,Utrera / Utrera,6.217391,2
987,101870980,600.0,flat,83.0,3,1,37.179141,-5.775776,NaN,good,7.0,0,6,Utrera / Utrera,6.217391,2
988,101336250,600.0,chalet,130.0,3,1,37.184088,-5.772710,NaN,good,5.0,0,6,Utrera / Utrera,6.217391,3
989,100825758,800.0,flat,102.0,3,2,37.184312,-5.773903,"Piso en Utrera zona La Huerta, 102 m. de super...",good,8.0,0,6,Utrera / Utrera,6.217391,2
990,87202734,1300.0,chalet,225.0,2,1,37.178457,-5.778954,"Casa en Utrera zona Centro, 200.00 m. de super...",good,6.0,0,6,Utrera / Utrera,6.217391,7

Crear función para hacer llamada

In [55]:
def calcular_alquiler(tamaño,poblacion_distrito,parking,tipo_vivienda,habitaciones,baños):
    df = pd.read_csv('data/df.csv')
    dicc_tipo = {'Estudio' : 1,'Piso' : 2,'Adosado' : 3,'Duplex' : 4,'Ático' : 5,'Casa pareada' : 6,'Chalet independiente' : 7}
    dicc = {}
    
    dicc['size'] = tamaño

    for i, pob_dis in enumerate(df['poblacion / distrito']):
        if pob_dis == poblacion_distrito:
            for n, codigo_dist in enumerate(df['codigo_distrito']):
                if n == i:
                    dicc['codigo_distrito'] = codigo_dist
                    break
    if parking == 'No':            
        dicc['parking'] = 0
    else:
        dicc['parking'] = 1

    for tipo,codigo in dicc_tipo.items():
        if tipo == tipo_vivienda:
            dicc['codigo_tipo'] = codigo

    
    dicc['total_rooms'] = habitaciones + baños
    
    
    return(dicc)

In [34]:
calcular_alquiler(46,'Sevilla / Nervión',0,'Casa pareada',2,1)

{'size': 46,
 'parking': 0,
 'total_rooms': 3,
 'codigo_tipo': 6,
 'codigo_distrito': 70}

In [56]:

vivienda = pd.DataFrame([calcular_alquiler(60, 'Sevilla / Santa Justa - Miraflores - Cruz Roja', 0, 'Piso', 2, 1)], index=[0])

In [57]:
vivienda

   size  codigo_distrito  parking  codigo_tipo  total_rooms
0    60               48        0            2            3

In [61]:
prediction = int(modelo_RFR.predict(vivienda))
prediction

C:\Users\Manolo\AppData\Local\Temp\ipykernel_15876\3328818666.py:1: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  prediction = int(modelo_RFR.predict(vivienda))

723